{% extends "@App/main.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}

{% block content %}

    <div class="container">
        <!-- Content start -->
        <h2>All images</h2>
        <div class="row">
            {% for image in images %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <a href="#"><img width="230" height="300" src="{{ vich_uploader_asset(image, 'imageFile')}}"></a>
                            <a href="#"><h5>{{ image.title }}</h5></a>
                            <a href="{{ path('app_basic_profile', {'id': image.user.id}) }}"><h5>By {{ image.user.name }}</h5></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}