{% extends '@App/main.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ user.name }}'s profile</h1><a href="{{ path('fos_user_profile_edit') }}">Edit</a>
        <h3>My photos</h3><a href="{{ path('app_basic_new') }}">Create new photo</a>
        <table class="table">
            <thead>
            <tr>
                <th>Photo</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
            <tr>
                <th><img width="100" height="100" src="{{ vich_uploader_asset(image, 'imageFile') }}"></th>
                <td>text</td>
                <td><a href="{{ path('app_basic_remove', {'id' : image.id}) }}">Remove</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

